*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111827;
}

.container{
    width:350px;
    padding:25px;
    background:#1f2937;
    border-radius:15px;
    color:white;
    text-align:center;
}

h1{
    margin-bottom:20px;
}

.box{
    display:flex;
    gap:10px;
}

input{
    margin:15px 0;
}

#password{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.generate{
    margin-top:20px;
    width:100%;
    background:#22c55e;
    color:white;
}

.options{
    display:flex;
    justify-content:space-around;
}